$gradient-color: linear-gradient(0deg, rgba(#e1425b, 1) 0%, rgba(#ed755b, 1) 100%);
$darkgrey: #777777;
$lightgrey: #BFBFBF;


$sizesLogo: 30px;
$sizesBig: 20px;
$sizesMidium: 14px;
$sizesname: 13px;
$sizesSmall: 12px;
$sizesLittel: 10px;


$familyLato: 'Lato', sans-serif;


$font-weights: (
    "light": 300,
    "regular": 400,
    "bold": 700,
    "black": 900
);